---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="<λ Error 404 />">
  <main>
    <section>
        <h1>This page didn't exists...</h1>
        <img src="/public/this-is-fine-404.gif" alt="" />
      </section>
  </main>
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }

  section {
    max-width: 700px;
    margin: 0 auto 48px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items:center;
    justify-content: center;
    text-align: center;
  }

  h1 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1.5rem;
  }
</style>
