---
import Post from "@/components/Post.astro";
---

<Post
  title="Text Editor"
  header="/projects/dynamic-graphs/header.png"
  publishDate="2024-03-18"
>
  <p>
    This dynamic graph system allows you to create measurements of processes
    within the team. It enables you to filter, sort, and build these graphs at
    all levels, including creating measurement tables with dynamic queries, as
    well as generating bar or doughnut charts to track income or execution times
    in your company's processes.
  </p>
  <p>
    Beyond the usefulness of the graphs, the view itself offers many
    conveniences, such as being able to organize the cards where these graphs
    are rendered in a grid and resize them as you wish. You can also interact
    with the graphs to see the tasks from which those changes come or more
    details about the values in the tables.
  </p>
  <p>
    In addition to all of that, you can add permissions to determine who can
    view the tables and who can edit, create, or delete them.
  </p>
</Post>

<style>
  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-container img {
    width: 100%;
    height: auto;
  }
</style>
