---
import Post from "@/components/Post.astro";
---

<Post title="Pdf Editor" headerName="pdf-editor">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam quasi distinctio repudiandae pariatur. Sint a suscipit sunt velit provident iure? Nemo architecto earum esse maiores! Officiis animi ex fuga doloribus esse quisquam enim, fugit corrupti hic, dolorem molestias delectus reprehenderit magnam. Vero illum fugiat facilis et voluptates omnis possimus consequuntur.</p>
</Post>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
  }
</style>
