---
import Post from "@/components/Post.astro";
---

<Post
  title="Spotify Clone"
  header="/portfolio-astro/projects/spotify-clone/header.png"
  publishDate="2024-03-20"
>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere explicabo
    earum, commodi, optio adipisci eos esse illum amet velit rerum voluptatem
    maiores minima est corrupti ipsa sint iusto exercitationem consequatur?
  </p>

  <p>
    <a href="https://spotify-astro-transitions.vercel.app/" target="_blank" rel="noopener noreferrer" class="link">
      based on
    </a>
  </p>

  <p>
    <a href="https://relisalazar.github.io/spotify-clone/" target="_blank" rel="noopener noreferrer" class="link">
      live demo
    </a>
  </p>

  <p>
    <a href="https://github.com/ReliSalazar/spotify-clone/" target="_blank" rel="noopener noreferrer" class="link">
      github repo
    </a>
  </p>
</Post>

<style>
  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-container img {
    width: 100%;
    height: auto;
  }
</style>
