---
import Post from "@/components/Post.astro";
---

<Post
  title="Spotify Clone"
  header="/portfolio-astro/projects/spotify-clone/header.png"
  publishDate="2024-03-20"
>
  <p>
    A clone of the popular music service Spotify, built using Astro. A modern
    front-end site generator that offers incredibly fast performance. <a
      href="https://spotify-astro-transitions.vercel.app/"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      based on this project
    </a>, the main difference is that I added actual music and an audio player.
  </p>

  <p>
    This is one of my latest projects where I'm using more often the Astro
    framework. I have two main reasons for using it: 1. It's ridicously fast to
    build projects and those project are ridicously fast itself to. 2. It let me
    use a lot of technologies together on the same project. This one has a lot
    of components made with React and Typescript, but theres also a Svelte
    component for the greetings header as an example.
  </p>

  <p>
    Astro also let you use some transitions very easily, you can check some of
    theme by clicking any playlist and see the transitions from view to view.
    This achieved by using the browser web transitions API, so it's very fast.
  </p>

  <div class="img-container">
    <img src="/portfolio-astro/projects/spotify-clone/player.png" alt="" />
  </div>

  <p>
    If you want to, you can check a <a
      href="https://relisalazar.github.io/spotify-clone/"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      live demo here
    </a>, and if you want to read the code, you can go to the <a
      href="https://github.com/ReliSalazar/spotify-clone/"
      target="_blank"
      rel="noopener noreferrer"
      class="link"
    >
      github repo
    </a>.
  </p>
</Post>

<style>
  .img-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .img-container img {
    width: 100%;
    height: auto;
  }
</style>
